<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Аналіз алгоритмів</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/../css/custom.css" th:href="@{css/custom.css}"/>
    <link href="/../css/buttonTop.css" rel="stylesheet" th:href="@{css/buttonTop.css}" type="text/css"/>
</head>
<body>

<div th:insert="navbar :: nav"></div>

<div class="container">
    <!--part of what is in charge of the card, use text- center, BUTTON response for registration  -->

</div>

<!--end of card part-->

<!--using Carousel For Courses with controls, need to understand how to easily add more courses(without hardcodding)-->






<div class="row justify-content-center" >

    <div>Результат аналізу часу виконання алгоритмів було записано у файл Output.xls</div>
</div>





</body>

</html>